#pmiVal,
#prevPmiVal,
#pmiScore,
#nmiVal,
#prevNmiVal,
#nmiScore {
    border: 2rem;
    border-radius: 0ex;
    width: 100%;
    background-color: #45b39d;
    text-align: center;
}

#card,
#nmi-card {
    background-color: #45b39d;
}

.scoreHead {
    text-align: center;
}